# firefox
#for_window [app_id="firefox"] mark _browser
assign [app_id="firefox"] 4

# telegram
assign [app_id="telegram"] 3

# drawing a terminal
for_window [app_id="Alacritty" title="aladraw"] floating enable, border none

# mpv
for_window [app_id="mpv"] floating enable, border none, sticky enable

# Inhibit Idle if a window is fullscreen
for_window [class="^.*"] inhibit_idle fullscreen
for_window [app_id="^.*"] inhibit_idle fullscreen
